#body {
	/*css3 高度满屏, 大多数浏览器支持*/
	height: 93vh;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 5vh
}
	#center {
		overflow:hidden;
		zoom:1;
		height:80%;
	}
		#nav {
			line-height:30px;
			background-color:#dddddd;
			height:98%;
			width:30%;
			float:left;
			padding:1%;
		}
			#nav_band {
				    /* background-color: #bacbac; */
					height: 18%;
					padding-bottom: 8%;
					border-bottom:  solid rgba(0,179,136,.6);
					width: 76%;
					margin: 6%;
			}
			#nav_items {
				background-color:#cbacba;
				height:40%;
				/*background-color:#dddddd;
				height:98%;
				width:24%;
				float:left;
				padding:1%;*/
			}
		#section {
			height:98%;
			background-color:#eeeeee;
			width:40%;
			float:left;
			padding:1%;	 	 
		}
		#description {
			height:98%;
			background-color:#cccccc;
			width:24%;
			float:left;
			padding:1%;
			color:grey;
		}
	#footer {
		background-color:black;
		color:white;
		clear:both;
		text-align:center;
		height:15%;	 
	}